<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="mysqlConn" connectionString="Database=manageCenter;Data Source=127.0.0.1;User Id=admin;Password=code@8888;pooling=false;CharSet=utf8;port=3306;" />
    <!--<add name="mysqlConn" connectionString="Database=manageCenter;Data Source=localhost;User Id=admin;Password=Txmy0071;pooling=false;CharSet=utf8;port=33069;" /> -->
  </connectionStrings>
  <appSettings>
    <add key="InitStep" value="3" />
    <add key="CurrStationId" value="cd980e2f-b76d-4103-9c99-ad66f6d29920" />
    <add key="PrintTitle" value="云南省曲靖市富源县煤炭管理运煤放行单" />
    <add key="BillDescription" value="白联存根，红联财务，黄联运费，绿联随车，其它" />
    <add key="defaultPrintFrequency" value="2" />
    <add key="autoPrintSecend" value="2" />
    <add key="autoPrint" value="1" />
    <add key="IsUnifeidLimitTone" value="1" />
    <add key="limitTone" value="1.4" />
    <add key="SoftEndDate" value="1577288344000" />
    <add key="listenerPort" value="http://+:8089/" />
    <add key="imageSavePath" value="E:\\weighing\\image" />
    <add key="isOpenListence" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>